body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

header, footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #222;
}

img {
    max-width: 100%;
    border: 5px solid #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #0f216c;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}
